## **Star Wars Prediction**

:**Objective:** To unserstand of how to analyze survey data for business insights

**Data Source:** Data is from Data.world
https://data.world/fivethirtyeight/star-wars-survey

**Import Library**

In [208]:
import pandas as pd

file_path = "https://github.com/fivethirtyeight/data/raw/master/star-wars-survey/StarWars.csv"

try:
    star_wars = pd.read_csv(file_path, encoding='ISO-8859-1', header=0)
except UnicodeDecodeError:

    star_wars = pd.read_csv(file_path, encoding='cp1252', header=0)

**Describe Data**

In [209]:
star_wars.describe()

       RespondentID
count  1.186000e+03
mean   3.290128e+09
std    1.055639e+06
min    3.288373e+09
25%    3.289451e+09
50%    3.290147e+09
75%    3.290814e+09
max    3.292880e+09

In [210]:
star_wars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187 entries, 0 to 1186
Data columns (total 38 columns):
 #   Column                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                         --------------  -----
 0   RespondentID                                                                                                                                   1186 non-null   float64
 1   Have you seen any of the 6 films in the Star Wars franchise?                                                                                   1187 non-null   object
 2   Do you consider yourself to be a fan of the Star Wars film franchise?                                                                          837 non-null    object
 3   Which of the following Star Wars films have you seen? Please select all that apply.                                                            674 non-null    object
 4   Unnamed: 4                                                                                                                                     572 non-null    object
 5   Unnamed: 5                                                                                                                                     551 non-null    object
 6   Unnamed: 6                                                                                                                                     608 non-null    object
 7   Unnamed: 7                                                                                                                                     759 non-null    object
 8   Unnamed: 8                                                                                                                                     739 non-null    object
 9   Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.  836 non-null    object
 10  Unnamed: 10                                                                                                                                    837 non-null    object
 11  Unnamed: 11                                                                                                                                    836 non-null    object
 12  Unnamed: 12                                                                                                                                    837 non-null    object
 13  Unnamed: 13                                                                                                                                    837 non-null    object
 14  Unnamed: 14                                                                                                                                    837 non-null    object
 15  Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                 830 non-null    object
 16  Unnamed: 16                                                                                                                                    832 non-null    object
 17  Unnamed: 17                                                                                                                                    832 non-null    object
 18  Unnamed: 18                                                                                                                                    824 non-null    object
 19  Unnamed: 19                                                                                                                                    826 non-null    object
 20  Unnamed: 20                                                                                                                                    815 non-null    object
 21  Unnamed: 21                                                                                                                                    827 non-null    object
 22  Unnamed: 22                                                                                                                                    821 non-null    object
 23  Unnamed: 23                                                                                                                                    813 non-null    object
 24  Unnamed: 24                                                                                                                                    828 non-null    object
 25  Unnamed: 25                                                                                                                                    831 non-null    object
 26  Unnamed: 26                                                                                                                                    822 non-null    object
 27  Unnamed: 27                                                                                                                                    815 non-null    object
 28  Unnamed: 28                                                                                                                                    827 non-null    object
 29  Which character shot first?                                                                                                                    829 non-null    object
 30  Are you familiar with the Expanded Universe?                                                                                                   829 non-null    object
 31  Do you consider yourself to be a fan of the Expanded Universe?æ                                                                               214 non-null    object
 32  Do you consider yourself to be a fan of the Star Trek franchise?                                                                               1069 non-null   object
 33  Gender                                                                                                                                         1047 non-null   object
 34  Age                                                                                                                                            1047 non-null   object
 35  Household Income                                                                                                                               859 non-null    object
 36  Education                                                                                                                                      1037 non-null   object
 37  Location (Census Region)                                                                                                                       1044 non-null   object
dtypes: float64(1), object(37)
memory usage: 352.5+ KB

In [211]:
(star_wars.head())

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [212]:
star_wars.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?æ',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [213]:
star_wars.shape

(1187, 38)

**Data Preprocessing**

In [214]:
columns_to_merge = ['Which of the following Star Wars films have you seen? Please select all that apply.',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',]
star_wars['Watched Star Wars Flim'] = star_wars[columns_to_merge].apply(lambda row: list(row), axis=1)

In [215]:
star_wars.drop(columns = ['Which of the following Star Wars films have you seen? Please select all that apply.',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',], inplace=True)

In [216]:
columns_to_merge2 = ['Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',]
star_wars['Ranking The Flims (1-6)'] = star_wars[columns_to_merge2].apply(lambda row: list(row), axis=1)

In [217]:
star_wars.drop(columns = ['Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',], inplace=True)

In [218]:
columns_to_merge3 = ['Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', ]
star_wars['Chararcter Favourabilty'] = star_wars[columns_to_merge3].apply(lambda row: list(row), axis=1)

In [219]:
star_wars.drop(columns = ['Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', ], inplace=True)

In [220]:
star_wars.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?æ',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)', 'Watched Star Wars Flim',
       'Ranking The Flims (1-6)', 'Chararcter Favourabilty'],
      dtype='object')

In [221]:
star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'] = star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'].apply( lambda x: str(x))

In [222]:
star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'] = star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'].apply( lambda x: x.replace("Yes", "1"))

In [223]:
star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'] = star_wars['Do you consider yourself to be a fan of the Star Wars film franchise?'].apply( lambda x: x.replace("No", "0"))

In [224]:
star_wars_replace =  ['Are you familiar with the Expanded Universe?',
 'Do you consider yourself to be a fan of the Expanded Universe?\x8cæ',
 'Do you consider yourself to be a fan of the Star Trek franchise?']

In [225]:
star_wars[star_wars_replace] = star_wars[star_wars_replace].replace("Yes", "1")

In [226]:
star_wars[star_wars_replace] = star_wars[star_wars_replace].replace("No", "0")

In [227]:
star_wars

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region),Watched Star Wars Flim,Ranking The Flims (1-6),Chararcter Favourabilty
0,NaN,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,"[Star Wars: Episode I The Phantom Menace, Sta...","[Star Wars: Episode I The Phantom Menace, Sta...","[Han Solo, Luke Skywalker, Princess Leia Organ..."
1,3.292880e+09,Yes,1,I don't understand this question,1,0,0,Male,18-29,NaN,High school degree,South Atlantic,"[Star Wars: Episode I The Phantom Menace, Sta...","[3, 2, 1, 4, 5, 6]","[Very favorably, Very favorably, Very favorabl..."
2,3.292880e+09,No,nan,NaN,NaN,NaN,1,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central,"[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
3,3.292765e+09,Yes,0,I don't understand this question,0,NaN,0,Male,18-29,"$0 - $24,999",High school degree,West North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[1, 2, 3, 4, 5, 6]","[Somewhat favorably, Somewhat favorably, Somew..."
4,3.292763e+09,Yes,1,I don't understand this question,0,NaN,1,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[5, 6, 1, 2, 4, 3]","[Very favorably, Very favorably, Very favorabl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,3.288389e+09,Yes,1,Han,0,NaN,1,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[5, 4, 6, 3, 2, 1]","[Very favorably, Somewhat favorably, Somewhat ..."
1183,3.288379e+09,Yes,1,I don't understand this question,0,NaN,1,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain,"[Star Wars: Episode I The Phantom Menace, Sta...","[4, 5, 6, 2, 3, 1]","[Very favorably, Somewhat favorably, Very favo..."
1184,3.288375e+09,No,nan,NaN,NaN,NaN,0,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic,"[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
1185,3.288373e+09,Yes,1,Han,0,NaN,1,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[4, 3, 6, 5, 2, 1]","[Very favorably, Neither favorably nor unfavor..."
1186,3.288373e+09,Yes,0,I don't understand this question,0,NaN,0,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific,"[Star Wars: Episode I The Phantom Menace, Sta...","[6, 1, 2, 3, 4, 5]","[Very favorably, Very favorably, Very favorabl..."

In [228]:
star_wars.isnull().sum()

RespondentID                                                               1
Have you seen any of the 6 films in the Star Wars franchise?               0
Do you consider yourself to be a fan of the Star Wars film franchise?      0
Which character shot first?                                              358
Are you familiar with the Expanded Universe?                             358
Do you consider yourself to be a fan of the Expanded Universe?æ         973
Do you consider yourself to be a fan of the Star Trek franchise?         118
Gender                                                                   140
Age                                                                      140
Household Income                                                         328
Education                                                                150
Location (Census Region)                                                 143
Watched Star Wars Flim                                                     0
Ranking The Flims (1-6)                                                    0
Chararcter Favourabilty                                                    0
dtype: int64

In [229]:
star_wars = star_wars.replace("nan", "No Response")

In [231]:
star_wars = star_wars.fillna("No Response")

In [232]:
star_wars

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region),Watched Star Wars Flim,Ranking The Flims (1-6),Chararcter Favourabilty
0,No Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,Response,"[Star Wars: Episode I The Phantom Menace, Sta...","[Star Wars: Episode I The Phantom Menace, Sta...","[Han Solo, Luke Skywalker, Princess Leia Organ..."
1,3292879998.0,Yes,1,I don't understand this question,1,0,0,Male,18-29,No Response,High school degree,South Atlantic,"[Star Wars: Episode I The Phantom Menace, Sta...","[3, 2, 1, 4, 5, 6]","[Very favorably, Very favorably, Very favorabl..."
2,3292879538.0,No,No Response,No Response,No Response,No Response,1,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central,"[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
3,3292765271.0,Yes,0,I don't understand this question,0,No Response,0,Male,18-29,"$0 - $24,999",High school degree,West North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[1, 2, 3, 4, 5, 6]","[Somewhat favorably, Somewhat favorably, Somew..."
4,3292763116.0,Yes,1,I don't understand this question,0,No Response,1,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[5, 6, 1, 2, 4, 3]","[Very favorably, Very favorably, Very favorabl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,3288388730.0,Yes,1,Han,0,No Response,1,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[5, 4, 6, 3, 2, 1]","[Very favorably, Somewhat favorably, Somewhat ..."
1183,3288378779.0,Yes,1,I don't understand this question,0,No Response,1,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain,"[Star Wars: Episode I The Phantom Menace, Sta...","[4, 5, 6, 2, 3, 1]","[Very favorably, Somewhat favorably, Very favo..."
1184,3288375286.0,No,No Response,No Response,No Response,No Response,0,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic,"[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
1185,3288373068.0,Yes,1,Han,0,No Response,1,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central,"[Star Wars: Episode I The Phantom Menace, Sta...","[4, 3, 6, 5, 2, 1]","[Very favorably, Neither favorably nor unfavor..."
1186,3288372923.0,Yes,0,I don't understand this question,0,No Response,0,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific,"[Star Wars: Episode I The Phantom Menace, Sta...","[6, 1, 2, 3, 4, 5]","[Very favorably, Very favorably, Very favorabl..."

In [233]:
star_wars.shape

(1187, 15)

In [234]:
star_wars = pd.DataFrame(star_wars)

In [235]:
star_wars.isnull().sum()

RespondentID                                                             0
Have you seen any of the 6 films in the Star Wars franchise?             0
Do you consider yourself to be a fan of the Star Wars film franchise?    0
Which character shot first?                                              0
Are you familiar with the Expanded Universe?                             0
Do you consider yourself to be a fan of the Expanded Universe?æ         0
Do you consider yourself to be a fan of the Star Trek franchise?         0
Gender                                                                   0
Age                                                                      0
Household Income                                                         0
Education                                                                0
Location (Census Region)                                                 0
Watched Star Wars Flim                                                   0
Ranking The Flims (1-6)                                                  0
Chararcter Favourabilty                                                  0
dtype: int64

**For Most Frequently Watched Flim**

In [236]:
most_fretimes = star_wars["Watched Star Wars Flim"].value_counts().max()

In [237]:
flattened_series = pd.Series([item for sublist in star_wars["Watched Star Wars Flim"] for item in sublist])

In [238]:
max_value = flattened_series.value_counts().idxmax()

In [239]:
f'the most frequent movie watched  is {max_value} and it occurs {most_fretimes}'

'the most frequent movie watched  is Star Wars: Episode V The Empire Strikes Back and it occurs 472'

**For Most Ranked Film With 1 Being The Most And 6 Being The Last**

In [240]:
movie_names = star_wars.iloc[0]['Ranking The Flims (1-6)']

In [241]:
rankings = star_wars.iloc[1:]

In [242]:
rankings_df = pd.DataFrame(rankings['Ranking The Flims (1-6)'].tolist(), columns=movie_names)

In [243]:
mode_values = rankings_df.mode().iloc[0]

In [244]:
mode_values

Star Wars: Episode I  The Phantom Menace        4
Star Wars: Episode II  Attack of the Clones     5
Star Wars: Episode III  Revenge of the Sith     6
Star Wars: Episode IV  A New Hope               1
Star Wars: Episode V The Empire Strikes Back    1
Star Wars: Episode VI Return of the Jedi        2
Name: 0, dtype: object

In [245]:
rankings_df = pd.DataFrame(rankings['Ranking The Flims (1-6)'].tolist(), columns=movie_names).apply(pd.to_numeric)

In [246]:
rank_1_counts = (rankings_df == 1).sum()

In [247]:
rank_1_counts

Star Wars: Episode I  The Phantom Menace        129
Star Wars: Episode II  Attack of the Clones      32
Star Wars: Episode III  Revenge of the Sith      36
Star Wars: Episode IV  A New Hope               204
Star Wars: Episode V The Empire Strikes Back    289
Star Wars: Episode VI Return of the Jedi        146
dtype: int64

In [248]:
max_ranked_movie = rank_1_counts.idxmax()
max_rank_count = rank_1_counts.max()

In [249]:
print(f"The movie ranked '1' the most times is '{max_ranked_movie}' with {max_rank_count} occurrences.")

The movie ranked '1' the most times is 'Star Wars: Episode V The Empire Strikes Back' with 289 occurrences.

**Converting To CSV**

In [252]:
star_wars.to_csv('star_wars.csv', index=False)
from google.colab import files
files.download('star_wars.csv')

1. **Data Overview**
The analysis focuses on survey responses from participants regarding their preferences for the Star Wars films. Each participant ranked the movies from 1 to 6, with 1 being their favorite and 6 being their least favorite. The goal of the analysis is to determine which Star Wars movie is the most popular based on these rankings.

2. **Data Cleaning and Preparation**
Initially, the analysis involves checking for any missing values in the dataset. This step is crucial because missing data can lead to inaccuracies in the results. If any null values are found, strategies such as removing incomplete entries or filling in missing data may be employed.

3. **Counting Rankings**
The primary focus is to count how many times each movie received a rank of "1," indicating it was selected as the favorite by respondents. This counting process involves reviewing the rankings and tallying the occurrences of "1" for each movie.

4. **Results Interpretation**
After counting the occurrences of "1" for each movie, the results are compiled into a summary table. This table displays how many times each film was ranked as the favorite. The movie with the highest count of "1" rankings is determined to be the most favored among the respondents.

5. **Analyzing the Rankings Further**
While the analysis primarily focuses on the top ranking, looking at the distribution of all rankings for each movie can provide a more nuanced understanding of viewer preferences. By examining how often each movie received ranks of 2, 3, and so on, one can identify which movies are consistently liked or disliked.

6. **Conclusions**
From the analysis, it can be concluded that **Star Wars: Episode V - The Empire Strikes Back** is the most liked film based on the number of "1" rankings. This finding highlights the movie's popularity among respondents and suggests that it resonates more with audiences compared to other films in the franchise.